.modalOverlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 2s ease-in-out;
  pointer-events: none;
}

.show {
  opacity: 1;
  pointer-events: visible;
}

.modalCntnr {
  width: 700px;
  background-color: var(--clr-bg);
  color: var(--clr-pr);

  border: 0.3px solid var(--clr-bg);
  box-shadow: 0 0 40px var(--clr-bg-light);
  border-radius: 1rem;
}

.modalHeader {
  padding: 10px;
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.modalHeaderText {
  display: inline-block;
  margin: 0;
}
.closeModal {
  padding: 10px 14px;
  /* background-color: var(--clr-pr);
  color: var(--clr-bg); */
  border-radius: 50%;
  cursor: pointer;
}

.modalBody {
  background-color: var(--clr-bg-light);
  margin: 0;
  padding: 20px 15px;
  text-align: center;
}

.modalFooter {
  margin: 0;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 600px) {
  .modalCntnr {
    width: 90%;
  }
}
