.footer {
  background-color: var(--clr-bg);
  color: var(--clr-pr);
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.section {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 25px;
}

.footerHeading {
  margin: 10px;
}

.conataint {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* align-items: center; */
}

.conataint p {
  margin: 0;
}

.conataint a {
  margin: 0 10px;
}

.line {
  height: 100px;
  width: 0px;
  color: var(--clr-pr);
  border: 1px solid var(--clr-pr);
}

@media screen and (max-width: 470px) {
  .footer {
    flex-direction: column;
  }

  .section {
    width: 80%;
  }

  .line {
    width: 90%;
    height: 0;
  }
}
